@model BootStrap.Models.User

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>User</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserPassword)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserPassword)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserFirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserFirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserLastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserLastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserCity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserCity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserState)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserState)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserZip)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserZip)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserEmailVerified)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserEmailVerified)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserRegisterationDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserRegisterationDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserVerificationCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserVerificationCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserIp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserIp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserPhone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserPhone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserFax)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserFax)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserCountry)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserCountry)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserAddress2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserAddress2)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.UserId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
